@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  font-family: 'Lato', sans-serif , Arial, Helvetica;
}
.outer-box{
  background-image: url(bg.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.inner-box{
  width: 450px;
  margin: 0 auto;
  position: relative;
  background-color: rgb(230, 233, 236);
  top: 25%;
  padding: 20px 40px;
  border-radius: 10px;
}
.header h1{
  font-size: 3rem;
  color: #212121;
}
main{
  padding-block: 20px;
}
main p{
  font-size: 1.2rem;
  margin: 10px 0px;
}
